<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Help Page</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>

  <body style="background-color: rgba({{total}}, 255, 0, 0.2)">



    <p class="hey">It is the year 20{{year}} </p>

    <p class="hi"> The time is {{time}}</p>


  </body>
</html>
